* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  cursor: default;
}

#content-wrap {
  padding-bottom: 8vh; /* Footer height */
}

#page-container {
  position: relative;
  min-height: 100vh;
}

/*******************************CONTAINER************************************/
.container {
  background-image: url(/img/img-hero-image.png);
  background-repeat: none;
  background-size: cover;
  min-height: 100vh;
}

.container .layover {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
}
/*******************************NAVIGATION***********************************/
nav {
  min-height: 10vh;
  margin: auto;
  padding: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  font-size: 1.5rem;
  flex: 1;
  padding-left: 200px;

  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: medium;
}

nav a:hover {
  color: #70c919;
}

#seperator {
  flex: 1;
}

@media (max-width: 800px) {
  nav ul {
    flex-direction: column;
    padding: 10px;
  }

  nav li {
    padding-top: 40px;
  }

  nav li a {
    font-size: 30px;
  }

  nav {
    flex-direction: column;
    min-height: 100vh;
  }
}

/*******************************HERO***********************************/
.background {
  background-color: black;
  background-repeat: none;
  background-size: cover;
  min-height: 100vh;
}
.hero {
  color: white;
  text-align: center;
  padding: 20vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 82px;
  margin-top: 50px;
  margin-bottom: 29px;
  text-align: center;
  width: 922px;
}

.hero p {
  font-size: 20px;
  width: 624px;
  margin-bottom: 39px;
  color: rgba(255, 255, 255, 0.7);
}

a.btn {
  color: white;
  background-color: #27ad6c;
  text-decoration: none;
  padding: 20px 46px;
  margin-top: 20px;
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;
}

a.btn:hover {
  background-color: #035322;
}

@media (max-width: 800px) {
  .hero {
    min-height: 100vh;
  }

  .hero h1 {
    font-size: 40px;
    width: 300px;
  }

  .hero p {
    font-size: 25px;
    width: 500px;
  }
}

/*******************************WYSH***********************************/
.wysh {
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  min-height: 65vh;
}

.wysh .title h5 {
  font-size: 48px;
  color: #9b9b9b;
  text-align: center;
  margin-top: 145px;
  margin-bottom: 75px;
  font-weight: normal;
}

.wysh .items {
  padding: 0px 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  text-align: center;
}

.items h3 {
  font-size: 18px;
  color: #27ad6c;
  padding: 50px 0px 10px 0px;
}

.items p {
  color: #4a4a4a;
  max-width: 310px;
}

@media (max-width: 900px) {
  .wysh .items {
    flex-direction: column;
  }

  .wysh .items div {
    padding-bottom: 50px;
  }
}
/*******************************DASHBOARD***********************************/
.dashboard {
  background-color: white;
  margin-bottom: 20px;
  min-height: 50vh;
  padding: 100px 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboard h1 {
  font-size: 48px;
  font-weight: normal;
  color: #9b9b9b;
  padding: 15px;
}

.dashboard a {
  font-size: 16px;
  padding-left: 10px;
  color: #27ad6c;
  text-align: left;
  text-decoration: none;
}

.dashboard p {
  text-align: left;
  padding-bottom: 0px;
  font-size: 13px;
}

.dashboard li {
  list-style: none;
  padding: 20px 0px;
}

.dashboard .c1 {
  padding-right: 60px;
}

.dashboard .c2 {
  padding-left: 60px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #88c542;
  margin: 1em 0;
  padding: 0;
  width: 55vh;
}

.dashboard p {
  color: #9b9b9b;
}

#vertical {
  border-left: medium solid #27ad6c;
  height: 345px;
}

.ninja {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 5vh;
}

.ninja img {
  padding: 50px 30px;
}

.ninja hr {
  width: 20vh;
}

@media (max-width: 1000px) {
  .dashboard {
    padding: 20px;
    flex-direction: column;
  }

  .dashboard #vertical {
    height: 1px;
  }

  .dashboard h1 {
    text-align: center;
  }

  .dashboard .c1 {
    padding-left: 10px;
    margin-bottom: 100px;
  }

  .dashboard .c2 {
    padding-left: 10px;
  }
}
/*******************************Gallery***********************************/
.gallery {
  background-color: white;
  margin: auto;
  min-height: 100vh;
  width: 100%;

  padding: 0px;
}

.gallery h2,
p {
  padding: 10px;
  text-align: center;
  color: #9b9b9b;
  font-weight: normal;
}

.gallery p {
  padding-bottom: 21px;
}

.gallery h2 {
  font-size: 48px;
}

.gallery .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px;
}

.gallery .grid img {
  width: 100%;
}

@media (max-width: 800px) {
  .gallery {
    min-height: 100vh;
  }
  .gallery .grid {
    grid-template-columns: 1fr 1fr;
  }
}
/*******************************Ending***********************************/
.ending {
  background-color: #423633;
  min-height: 100vh;
  padding: 50px;
  margin: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.ending .grid ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ending .grid li {
  padding: 50px;
  display: grid;
  grid-template-columns: 60px 240px;
}

.ending img {
  grid-row-start: 1;
  grid-row-end: 3;
}

.ending h4 {
  font-size: 18px;
  padding-left: 10px;
  width: 308px;
  color: white;
}

.ending p {
  font-size: 16px;
  color: rgba(red, green, blue, 0.5);
  text-align: left;
  width: 240px;

  grid-column-start: 2;
  grid-column-end: 3;
}

.ending h5 {
  padding-top: 200px;
  padding-bottom: 100px;
  font-weight: normal;
  font-size: 48px;
  color: white;
}

.ending .ninjaLogo {
  padding: 50px;
}

@media (max-width: 1100px) {
  .ending .grid ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .ending .grid ul {
    display: flex;
    flex-direction: column;
  }
}

/*******************************Footer***********************************/
#footer {
  background-color: #333333;
  display: flex;
  flex-direction: row;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;

  align-items: center;
  justify-content: space-between;
  height: 8vh;
}

#footer p,
a {
  color: white;
  text-decoration: none;
}

#footer li {
  list-style: none;
  padding: 20px;
}

#footer ul {
  display: flex;
  justify-content: space-between;
}

#footer a:hover {
  color: #70c919;
}
